@import "../../vars.css";


@media (max-width: 375px) {
    .navbar-expand-sm {
      flex-wrap: nowrap;
      justify-content: space-between;
      
    }
  
    .navbar-expand-sm .navbar-collapse {
      display:none !important;
    }
  
    .navbar-expand-sm .navbar-toggler {
      display:block;
    }
   
  }



.navlink {
    color: var( --color-white) !important;
  }


.navbarTogglerIcon {
    filter: invert(100%);
}
  
  